<div class="valine-container"></div>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src="//unpkg.com/valine/dist/Valine.min.js"></script>
<script>
	var GUEST_INFO = ['nick','mail','link'];
	var guest_info = '<%= theme.comment.valine.guest_info %>'.split(',').filter(function(item){
		return GUEST_INFO.indexOf(item) > -1
	});
	new Valine({
		el: '.valine-container',
		appId: "<%= theme.comment.valine.appId %>",
		appKey: "<%= theme.comment.valine_.appKey %>",
		placeholder: "<%= theme.comment.valine.placeholder %>",
		pageSize:'<%= theme.comment.valine.pageSize %>',
		avatar:'<%= theme.comment.valine.avatar %>',
		lang:'<%= theme.comment.valine.lang %>'
	});
</script>