<div class="header">
    <div class="log-title">
        <div class="info animated fadeInDown">
            <h1 title>
                <a href="#"><%= config.title %></a>
            </h1>
            <div class="description animated fadeInDown">
                <p>♥ <%= config.description %> ♥</p>
            </div>
        </div>
    </div>
    <div class="links animated fadeInDown">
        <% theme.links.forEach(function (link) { %>
        <div class="link">
            <% var testUrl = /https?:\/\// %>
            <% if(testUrl.test(link.icon)) { %>
            <img src="<% link.icon %>" alt="">
            <% } else { %>
            <i class="fa fa-<%= link.icon %>"></i>
            <% } %>
            <a href="<%= link.url %>"><%= link.title %></a>
        </div>
        <% }) %>
    </div>
</div>