<% page.posts.forEach(function (post) { %>
    <%- partial('article', { item: post, excerpt: true }) %>
<% }) %>
<% if(page.total > 0) { %>
<ul class="pagination">
    <% if(page.prev > 0) { %>
    <li class="pagination-prev">
        <a href="<%- url_for(page.prev_link) %>"><%= __('prev') %></a>
    </li>
    <% } %>
    <% if(page.next > 0) { %>
    <li class="pagination-next">
        <a href="<%- url_for(page.next_link) %>"><%= __('next') %></a>
    </li>
    <% } %>
</ul>
<% } %>